.editor {
    max-width: 906px;
    margin: 0 auto;
    margin-top: 129px;
    margin-bottom: 70px;
    text-align: center;

    &__title {
        @include fontH2;
        color: $color--violet-dark;
        text-transform: uppercase;
        margin-bottom: 26px;
    }

    &__content {
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        color: $color--gray-dark;
        margin-bottom: 20px;
        margin-right: 45px;
    }

    &__btns {
        @include flexCenter(row);
        gap: 16px;
    }

.editor-btn {
    &__link {
        @include editorBtn;
        display: inline-block;
        color: $color--gray-dark;
        background-color: $color--editor-bg;
        padding: 3px 12px;
        border: 1px solid;
        border-radius: 6px;
        border-color: $color--editor-btn-border;
    }

    &__icon {
        vertical-align: text-top;
        margin-right: 8px;
    }

    &__counter {
        display: inline-block;
        margin-left: 4px;
        vertical-align: top;
        background-color: $color--editor-btn-counter-bg;
        border: 1px solid $color--editor-btn-counter-border;
        border-radius: 2em;
        padding: 0 6px;
        text-align: center;
    }
}
}

.features {
    background-color: $color--editor-bg;

    &--wrapper {
        max-width: 1380px;
        position: relative;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        gap: 2%;
    }

    &__title--media {
        display: none;
    }

    &__list {
        width: 45%;
        max-width: 540px;
        padding-top: 94px;
    }

    &__item {
        min-height: 110px;
        display: flex;
        align-items: flex-start;

        &:first-child {
            margin-bottom: 35px;

            img {
                padding-top: 6px;
                margin-right: 23px;
            }
        }

        &:nth-child(2) {
            margin-bottom: 28px;
            img {
                padding-top: 2px;
                margin-right: 44px;
            }
        }

        &:nth-child(3) {
            margin-bottom: 28px;

            img {
                margin-left: 16px;
                margin-right: 59px;
            }
        }

        &:last-child {
            margin-bottom: 72px;
            img {
                padding-top: 8px;
                margin-left: 11px;
                margin-right: 53px;
            }
        }
    }

    .features-item__content {
        font-weight: 400;
        line-height: 21px;

        h6 {
            @include fontSize16_400(21px);
            color: $color--gray-dark;
            margin-bottom: 10px;
        }

        p {
            @include fontSize14_400(21px);
            color: $color--gray-light;
        }
    }

    &__result {
        width: 53%;
        max-width: 700px;
        padding-top: 92px;

        &--title {
            @include fontH3;
            color: $color--violet-light;
            margin-left: 48px;
            margin-bottom: 16px;
        }

        &--image {
            position: absolute;
            right: 0;
            // bottom: 32px;
            width: 53%;
            max-width: 700px;
        }
    }

    &__img {
        display: none;
    }
}
