@import "variables.mixins";
.header {
  background-image: url(../img/header-bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 800px;
  &__navbar,
  &__nav,
  &__nav-list {
    @include flexCenter(row);
  }
  &__navbar {
    justify-content: space-between;
    padding-top: 29.5px;
    color: $color--violet-light;
  }
  &__logo {
    a {
      @include flexCenter(row);
    }
  }
  &__logo:hover {
    a {
      filter: saturate(0%) brightness(10);
      color: $color--white;
    }
  }
  .logo {
    margin-right: 17px;
  }
  .logo-text {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
  }
  .header__nav--hidden {
    display: none;
    position: relative;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .burger-menu__line {
      background-color: $color--white;
      height: 3px;
      width: 26px;
      border-radius: 5px;
      transition: transform 0.3s ease;
    }
    .line--top {
      width: 15px;
      transform-origin: bottom center;
    }
    .line--mdl {
      transform-origin: center;
    }
    .line--btm {
      transform-origin: top center;
    }
    .burger-menu__line:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .burger-menu.open {
    .burger-menu__line {
      border-radius: 0;
    }
    .line--top {
      width: 26px;
      transform: translateY(7px) rotate(45deg);
    }
    .line--mdl {
      transform: scaleX(0);
    }
    .line--btm {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  &__list--hiden {
    display: none;
    position: absolute;
    right: 0px;
    top: 59.5px;
  }
  &__item--hiden {
    height: 92px;
    width: 292px;
    font-size: 26px;
    line-height: 26px;
    color: $color--white;
    background-color: rgba(51, 51, 51, 1);
    display: flex;
    align-items: center;
    padding-left: 35px;
    border-bottom: 3px solid rgba(59, 59, 59, 1);
    position: relative;
  }
  &__item--hiden:hover,
  &__item--hiden:active {
    color: $color--violet-light;

    a::before {
      content: "";
      top: 20px;
      bottom: 20px;
      width: 4px;
      left: 0;
      background: $color--violet-light;
      position: absolute;
    }
  }
  &__nav-item {
    margin-right: 48px;
    @include fontSize16(15px);
  }
  &__nav-item:hover {
    color: $color--white;
  }
  .btn {
    background-color: $color--violet-light;
    border-radius: 40px;
    color: $color--white;
  }
  .btn:hover {
    background-color: $color--white;
    color: $color--violet-light;
  }
  .btn-buy {
    padding: 11px 35px;
    @include fontSize16(17px);
  }
  &__content {
    text-align: center;
    margin-top: 110px;
  }
  &__title {
    color: $color--white;
    @include fontH1;
  }
  &__subtitle {
    color: $color--violet-light;
    margin-top: 16px;
    font-family: Lato;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2px;
  }
  &__descr {
    font-size: 16px;
    line-height: 16px;
    color: $color--gray-light;
    margin-top: 15px;
    text-transform: uppercase;
  }
  &__btn {
    margin-top: 426px;
  }
  .btn-download {
    padding: 20px 61px;
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
    color: $color--white;
  }
  .btn-descr {
    margin-top: 19px;
    font-size: 14px;
    line-height: 15px;
    color: $color--gray-light;
  }
}
