.testimonials {
  background: linear-gradient(0deg, #4b3b4e, transparent 80%),
    url(../img/testmonials-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: #4b3b4e;

  .testimonials--container {
    padding-top: 104px;
    text-align: center;
    position: relative;
  }
  .testimonials--container::after {
    content: "";
    position: absolute;
    bottom: -18px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(100, 87, 102, 1);
    max-width: 780px;
  }
  &__title {
    @include fontH3;
    color: $color--white;
  }
  &__grid {
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 104px;
    column-gap: 127px;
    align-items: center;
    justify-items: center;
  }
  &__grid-item {
    max-width: 324px;
  }
  &__text {
    @include fontSize16(24px);
    color: $color--white;
    margin-top: 15px;
    font-style: italic;
    font-family: Lato;
  }
  &__descr {
    margin: 110px auto 0;
    max-width: 887px;
    p {
      color: $color--violet-text;
      font-family: Lato;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
