@import "variables.mixins";
/* media 1200px */
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}
/* media 992px */
@media screen and (max-width: 992px) {
  /* header */
  .header {
    .header__wrapper {
      background-color: $color--gray-nav--media;
      height: 118px;
    }
    .header__navbar {
      position: relative;
      padding: 24px 10px 0;
    }
    .header__nav-list {
      position: absolute;
      top: 85px;
      right: 0;
      left: 0;
      margin: auto;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
    }
    .header__nav-item:last-child {
      margin-right: 0;
    }
    .header__content {
      margin-top: 68px;
    }
    .header__title {
      font-size: 72px;
      font-weight: 700;
      line-height: 72px;
    }
    .header__subtitle {
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
    }
    .header__descr {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
    .header__btn {
      margin-top: 439px;
    }
  }
  /* testimonials */
  .testimonials {
    .testimonials--container {
      padding-top: 86px;
    }
    .testimonials--container::after {
      max-width: 555px;
    }
    .testimonials__title {
      font-size: 42px;
      line-height: 44px;
    }
    .testimonials__grid {
      margin-top: 81px;
      row-gap: 58px;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 78px;
      align-items: baseline;
    }
    .testimonials__descr {
      margin-top: 53px;
      max-width: 704px;
    }
  }
  /* editor */
  .editor {
    max-width: 689px;
    margin-top: 156px;
    margin-bottom: 98px;
    &__title {
      @include fontSize42(42px);
      padding-right: 10px;
      margin-bottom: 16px;
    }
    &__content {
      margin-bottom: 34px;
      margin-right: 0;
    }
  }
  /* features */
  .features {
    background-color: $color--white;
    padding-top: 58px;
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__title--media {
      display: block;
      @include fontSize42(44px);
      font-weight: 700;
      color: $color--violet-light;
      margin-bottom: 46px;
      text-align: center;
      padding-left: 20px;
    }
    &__list {
      width: 100%;
      max-width: 732px;
      padding-left: 14px;
      padding-top: 0;
    }
    &__item {
      margin-right: 5px;

      &:first-child {
        margin-right: 35px;
        margin-bottom: 20px;
        h6 {
          margin-bottom: 0;
        }
      }
      &:nth-child(2) {
        margin-bottom: 34px;
        h6 {
          margin-bottom: 8px;
        }
      }
      &:nth-child(3) {
        margin-bottom: 40px;
      }
      &:last-child {
        margin-bottom: 56px;
      }
    }
    &__result {
      display: none;
    }
    &__img {
      display: flex;
      justify-content: flex-end;
      &--medium {
        max-width: 100%;
      }
      &--small {
        display: none;
      }
    }
  }
  /* pricing */
  .pricing {
    background-image: url(../img/pricing-bg-media.png);
    padding-top: 110px;
    padding-bottom: 94px;
    &--container {
      max-width: 768px;
      margin: 0 auto;
    }
    &__title {
      @include fontSize42(44px);
      margin-bottom: 36px;
    }
    &__info {
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 25px;
      padding-left: 10px;
    }
    .tariff {
      width: 46%;
      max-width: 257px;
      &:nth-child(3) {
        margin-left: -42px;
        width: 54%;
        max-width: 299px;
      }
      &:last-child {
        margin-top: -16px;
      }
    }
  }
}
/* 656px */
@media screen and (max-width: 656px) {
  .header {
    .header__nav-item {
      margin-right: 15px;
    }
  }
  .testimonials{
    .testimonials__grid{
      column-gap: 20px;
    }
  }
}
/* 480px */
@media screen and (max-width: 480px) {
  /* header */
  .header {
    max-height: 718px;
    .header__wrapper {
      height: 103px;
    }
    .logo {
      margin-right: 0;
    }
    .header__navbar {
      padding: 32px 4px 0;
    }
    .header__nav-list,
    .logo-text {
      display: none;
    }
    .btn-buy {
      padding: 11px 20px;
    }
    .header__nav--hidden {
      display: block;
    }
    .header__content {
      padding: 0 10px;
      margin-top: 50px;
    }
    .header__title {
      font-size: 48px;
      line-height: 48px;
    }
    .header__subtitle {
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
      font-family: Montserrat;
      margin-top: 21px;
    }
    .header__descr {
      font-size: 14px;
      line-height: 14px;
    }
    .header__btn {
      margin-top: 394px;
    }
    .btn-download {
      padding: 13px 26px;
      font-size: 18px;
      line-height: 20px;
    }
    .btn-descr {
      margin-top: 12.5px;
    }
  }
  /* testimonials */
  .testimonials {
    .testimonials--container {
      padding-top: 46px;
      text-align: center;
    }
    .testimonials--container::after {
      max-width: 245px;
      bottom: -25px;
    }
    .testimonials__title {
      font-size: 36px;
      line-height: 48px;
    }
    .testimonials__grid {
      margin-top: 43px;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 43px;
    }
    .testimonials__grid-item{
      max-width: 290px;
      padding: 0 20px;
    }
    .testimonials__descr {
      margin-top: 59px;
      max-width: 251px;
    }
  }
  /* editor */
  .editor {
    padding: 0 14px;
    margin-top: 124px;
    margin-bottom: 88px;
    &__title {
      padding-right: 0;
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 20px;
    }
    &__content {
      @include fontSize14_400(20px);
      margin-bottom: 32px;
    }
    &__btns {
      max-width: 400px;
      flex-wrap: wrap;
    }
    .editor-btn {
      &__link {
        padding: 2px 8px;
      }
    }
  }
  /* features */
  .features {
    padding-top: 30px;
    &__content {
      padding: 0 10px;
    }
    &__title--media {
      font-size: 32px;
      line-height: 38px;
      padding-left: 0;
      padding-right: 8px;
      margin-bottom: 28px;
    }
    &__list {
      padding-left: 0;
    }
    &__item {
      @include flexCenter(column);
      margin-right: 0;
      margin-bottom: 37px;
      &:first-child {
        margin-right: 4px;
        margin-bottom: 30px;
        img {
          display: inline-block;
          margin-bottom: 24px;
          margin-right: 0;
        }
      }
      &:nth-child(2) {
        img {
          display: inline-block;
          margin-bottom: 16px;
          margin-right: 0;
        }
      }
      &:nth-child(3) {
        margin-bottom: 24px;
        img {
          display: inline-block;
          margin-bottom: 16px;
          margin-right: 36px;
        }
      }
      &:last-child {
        margin-bottom: 60px;
        img {
          display: inline-block;
          margin-bottom: 22px;
          margin-right: 20px;
        }
      }
    }
    .features-item__content {
      text-align: center;
      h6 {
        margin-bottom: 14px;
      }
      p {
        font-family: "Lato", sans-serif;
      }
    }
    &__img {
      &--medium {
        display: none;
      }
      &--small {
        display: block;
        max-width: 100%;
      }
    }
  }
  /* pricing */
  .pricing {
    padding-top: 32px;
    padding-bottom: 12px;
    background-image: none;
    background-color: rgba(70, 48, 72, 0.95);
    &__title {
      font-size: 28px;
      margin-bottom: 22px;
    }
    &__info {
      padding-left: 0;
      gap: 18px;
    }
    .tariff {
      flex-direction: column;
      gap: 18px;
      width: 100%;
      &__details {
        padding-bottom: 67px;
      }
      &:first-child {
        .tariff__options {
          margin-bottom: 36px;
        }
      }
      &:nth-child(2) {
        .tariff__details {
          padding-bottom: 40px;
        }
        .tariff__period {
          margin-bottom: 72px;
        }
      }
      &:nth-child(3) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 16px;
      }
      &:last-child {
        .tariff__details {
          padding-bottom: 42px;
        }
      }
    }
  }
}
